.bgAbout {
  background-image: url("../../images/bghospital.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1020px;
}

.cardList {
  float: right;
  text-align: center;
  align-items: center;
  margin: 70px 100px 100px 0;
}

.card {
  margin-top: 5px;

  cursor: pointer;
  width: 18rem !important;
}

.card1:hover {
  background-image: url("../../images/hospital1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  z-index: 1;
  font-weight: 500;
}

.card2:hover {
  background-image: url("../../images/hospital2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  z-index: 1;
  font-weight: 500;
}
.card3:hover {
  background-image: url("../../images/hospital3.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  z-index: 1;
  font-weight: 500;
}
.card4:hover {
  background-image: url("../../images/hospital4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  z-index: 1;
  font-weight: 500;
}

.cardText {
  opacity: 1;
  z-index: 2;
}
