.containerRes {
  background-color: #f0f9ee;
  border-radius: 50px;
  /* border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px; */
}

.resBalon {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #76b74c;
  border-radius: 100px;
  text-align: center;
  color: white;
}

.resBalon p {
  width: 100px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: 400;
}

.resBalon span {
  font-size: 1.8em;
  margin-top: 2px;
  font-weight: 600;
}

.idealWeight {
  color: rgb(255, 152, 0);
  float: left;
  width: 100%;
  font-size: 1.6em;
  font-weight: 800;
  margin-top: 10px;
}

.weightPost {
  float: left;
  width: 100%;
  color: #666;
  font-size: 1.1em;
  margin-top: 10px;
}
